# Importing Dependencies and Data

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score
from sklearn.preprocessing import StandardScaler
from sklearn import svm

In [3]:
df=pd.read_csv("diabetes.csv")

In [4]:
# Using Support Vector Machine to predict.
# SVM is a supervised learning algorithm

# Data Eyeballing

In [5]:
df.shape

(768, 9)

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.sample(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
554,1,84,64,23,115,36.9,0.471,28,0
552,6,114,88,0,0,27.8,0.247,66,0
154,8,188,78,0,0,47.9,0.137,43,1
536,0,105,90,0,0,29.6,0.197,46,0
2,8,183,64,0,0,23.3,0.672,32,1
77,5,95,72,33,0,37.7,0.370,27,0
326,1,122,64,32,156,35.1,0.692,30,1
149,2,90,70,17,0,27.3,0.085,22,0
135,2,125,60,20,140,33.8,0.088,31,0
63,2,141,58,34,128,25.4,0.699,24,0

## 1 --> diabetic 
## 0 --> non diabetic

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [11]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
df["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [19]:
df.groupby("Pregnancies").mean()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,123.000000,67.153153,22.270270,81.675676,34.290090,0.520838,27.603604,0.342342
1,112.748148,67.792593,24.437037,98.674074,31.372593,0.486496,27.370370,0.214815
2,110.796117,63.252427,21.601942,85.844660,30.583495,0.491660,27.194175,0.184466
3,123.586667,66.586667,20.080000,87.453333,30.425333,0.432147,29.026667,0.360000
4,125.117647,70.029412,15.882353,69.441176,32.141176,0.446353,32.779412,0.338235
5,118.859649,76.210526,17.385965,57.298246,33.192982,0.396421,39.035088,0.368421
6,120.800000,68.420000,17.640000,63.580000,30.290000,0.429520,39.340000,0.320000
7,136.444444,70.777778,20.288889,84.466667,32.631111,0.443622,41.111111,0.555556
8,131.736842,75.184211,17.315789,92.815789,31.568421,0.504711,45.368421,0.578947
9,131.392857,77.892857,20.892857,62.428571,31.707143,0.550679,44.178571,0.642857
10,120.916667,70.208333,15.708333,34.791667,30.641667,0.454167,42.666667,0.416667
11,126.454545,74.181818,21.727273,65.454545,38.563636,0.522545,44.545455,0.636364
12,113.555556,76.333333,27.111111,112.555556,32.344444,0.444333,47.444444,0.444444
13,125.500000,73.800000,17.300000,27.900000,35.000000,0.463300,44.500000,0.500000
14,137.500000,70.000000,27.500000,92.000000,35.100000,0.312000,42.000000,1.000000
15,136.000000,70.000000,32.000000,110.000000,37.100000,0.153000,43.000000,1.000000
17,163.000000,72.000000,41.000000,114.000000,40.900000,0.817000,47.000000,1.000000

# Spliting Predictors and Target

In [9]:
df.drop? #help for .drop code

SyntaxError: invalid syntax (1639758367.py, line 1)

In [ ]:
X=df.drop(columns=["","Outcome"], axis=1)

# Train-Test Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,stratify=y,random_state=42)